/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
/* bintang di bawah global css */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* font-family: 'Open Sans', sans-serif; */
}
body {
  display: flex;
  align-items: end;
  justify-content: center;
  min-height: 100vh;
  padding-right: 40px;
  background: #E3F2FD;
  flex-direction: column;
}
.wrapper {
  /* background-image: url("./Screenshot\ 2023-08-31\ at\ 15.38.45.png");
  background-size: contain;
   */
  position: relative;
  width: 400px;
  height: auto;
  border-radius: 10% 10%;
  object-fit: contain;
  /* background-color: rgb(240, 240, 243); */
  overflow: hidden;
  background-image: linear-gradient(rgb(180, 65, 47), rgb(246, 241, 242));
  
}
.content {
  position: relative;
  z-index: 5;
  
}

#inner {
  /* background-image: url("./foxHacktone.jpg.avif"); */
  height: 100px;
  width: auto;
  height: auto;
  

}


.listini{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace !important;

}
.scoreContainer{
  display: flex;
}

#resetBtn {
  width: 10vmin;
  height: 5vmin;
  border-radius: 20% 10%;
  border-color: rgb(221, 101, 31);
  background-image: linear-gradient(rgb(212, 96, 42), rgb(253, 251, 251));
  font-size: larger;
}

.imgHistory{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 70%;
  z-index: 3;
}