body {
    background: url(login-wall-2.jpg) no-repeat center center/cover;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.login-menu {
    background: rgba(76, 175, 80, 0.3);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    margin: 0 0 130px 0;
    font-size: 80px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

.input-username {
    display: flex;
    flex-direction: column;
}

input {
    top: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 30px;
    box-sizing: border-box;
    background-color: #333;
    color: wheat;
}

input:focus {
    background-color: #444;
    color: wheat;
}

.button {
    top: 50%;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 70px 0 0 0;
    padding: 20px;
    
    box-sizing: border-box;
    font-size: larger;
    background-color: #4CAF50;
}

.button:hover {
    background-color: #002ead;
    transition: 0.7s;
}

.button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

.copyright {
    margin-top: 1000px;
}